.label {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	z-index: 1;
	top: 10px;
	right: 10px;
	text-shadow: #000 1px 1px 1px;
	background-color: rgba(0, 0, 0, 0.85);
	padding: 1em;
	width: 220px;
}

#control {
	text-align: right;
	left: 0px;
	top: 100px;
	bottom: 600px;
}

#objectsList {
	top: 100px !important;
}

#rotation {
	top: 200px;
}

select {
	width: 100px;
}

